:root {
  --main-bg-color: #edf2f4;
  --primary-color: #2ec4b6;
  --secondary-color: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
}

/*============= NAVIGATION =============*/

.navbar {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
  background-color: var(--primary-color) !important;
}

.navbar img {
  height: 4rem;
}

.nav-link {
  color: var(--secondary-color) !important;
}

.nav-link.active,
.nav-link:hover {
  color: red !important;
}

/***** about button *****/

.about-company .btn10 {
  padding: 15px 100px;
  margin: 10px 4px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  z-index: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display: inline-block;
  transition-duration: 1s;
}

.fa-arrow-down {
  font-size: 30px;
  /* display: none; */
  color: var(--main-bg-color);
}

.about-company .btn10:hover {
  border: 1px solid #071982;
  color: #80ffd3 !important;
}

.about-company .btn10::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.about-company .btn10::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: var(--primary-color);
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
  -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  transition: all .4s cubic-bezier(.2, .95, .57, .99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.about-company .btn10:hover::before,
.btn1O:hover::before {
  opacity: 1;
  width: 116%;
}

.about-company .btn10:hover::after,
.btn1O:hover::after {
  opacity: 1;
  width: 120%;
}

/***** End about button *****/


/***** team *****/


.about-team section {
  padding: 60px 0;
}

.about-team a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.about-team ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading h4 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h4::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}

.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.team-area .single-item {
  margin-bottom: 30px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-area .item .thumb::after {
  background: #232323 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .team-items .item:hover .thumb::after {
  opacity: 0.7;
}

.team-area .item .thumb .overlay {
  top: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: 1;
}

.team-area .item:hover .thumb .overlay {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.team-area .item .thumb .overlay p {
  color: #ffffff;
}

.team-area .item .thumb .overlay h4 {
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .thumb img {
  opacity: .6;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.team-area .info .message {
  height: 50px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.team-area .info .message a {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  box-sizing: border-box;
  color: #ff5a6e;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.team-area .info .message a i {
  font-weight: 500;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: #ff5a6e;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.about-team .team-area .social li.twitter a {
  background-color: #00b6f1;
  padding: 12px;
}

.about-team .team-area .social li.pinterest a {
  background-color: #bd081c;
  padding: 12px;
}

.about-team .team-area .social li.facebook a {
  background-color: #3b5998;
  padding: 12px;
}

.about-team .team-area .social li.google-plus a {
  background-color: #df4a32;
  padding: 12px;
}

.about-team .team-area .social li.vimeo a {
  background-color: #1ab7ea;
  padding: 12px;
}

.about-team .team-area .social li.instagram a {
  background-color: #cd486b;
  padding: 12px;
}

/***** End team *****/


/***** social links *****/

.fab {
  display: flex;
  column-gap: 25px;
}

.icon {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  color: #fff;
  border-radius: 50%;
  outline: 2px solid #fff;
  transition-property: outline-offset, outline-color, background-color;
  transition-duration: .25s;
}


.icon:hover {
  outline-offset: 4px;

}

.icon:hover i {
  animation: shake .25s;
}

.icon--instagram:hover {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  outline-color: #a02d76;
}

.icon--twitter:hover {
  background-color: #1da1f2;
  outline-color: #1da1f2;
}

.icon--linkedin:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}

.icon--github:hover {
  background-color: #2ea44f;
  outline-color: #2ea44f;
}

@keyframes shake {
  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(15deg);
  }

  40% {
    transform: rotate(-15deg);
  }
}

/***** End social links *****/