:root {
    --main-bg-color: #edf2f4;
    --primary-color: #2ec4b6;
    --secondary-color: #ffffff;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: var(--main-bg-color);
  }
.full-image {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    color: var(--primary-color);
  
  }
  
  .full-image span{
    font-size: 18vw;
    font-weight: 800;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
  }
  
  .full-image span:not(:first-child){
    margin-left: -0.23em;
  }