body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
}

a {
    text-decoration: none;
}

/*============= NAVIGATION =============*/

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);

}

.navbar img {
    height: 4rem;
}

.nav-link {
    color: gainsboro !important;
}

.nav-link.active,
.nav-link:hover {
    color: red !important;
}
 
/*============= CAROUSEL =============*/

#carouselId {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.carousel-inner {
    max-height: 100vh !important;
}

/* .carousel-inner img{
    opacity: 50%;
  } */

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1.2s ease;
}

/*-- Carousel Content --*/

.carousel-caption {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    text-transform: uppercase;
    transition: 1sec;
}

.carousel-caption h1 {
    font-size: 3rem;
    color: white;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.carousel-caption h4 {
    font-size: 2rem;
    color: white;
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;

    padding: 2rem !important;
    border-radius: 1rem;
}

.height {
    min-height: 50%;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {


    .carousel-caption h1 {
        font-size: 2.8rem;
    }

    .carousel-caption h4 {
        font-size: 1.8rem;
    }

}

/* Devices under 768px (md) */
@media (max-width: 991.98px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption h4 {
        font-size: 1.2rem;
    }

    .btn-lg {
        font-size: 1rem
    }
}

@media (max-width: 770.98px) {
    .carousel-caption h1 {
        font-size: 1.5rem;
    }

    .carousel-caption h4 {
        font-size: 0.8rem;
    }

    .btn-lg {
        font-size: 0.5rem
    }
}

@media (max-width: 500.98px) {
    .carousel-caption h1 {
        font-size: 1rem;
    }

    .carousel-caption h4 {
        font-size: 0.7rem;
    }

    .btn-lg {
        font-size: 0.5rem
    }

    .carousel-caption {
        position: absolute;
        top: 34%;
        transform: translateY(-50%);
        text-transform: uppercase;
        transition: 1s;
    }
}

.services h5 {
    font-weight: 700;
    color: green;
}


/***** social links *****/

.fab {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}


.icon:hover {
    outline-offset: 4px;

}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

/***** End social links *****/

