:root {
    --main-bg-color: #edf2f4;
    --primary-color: #2ec4b6;
    --secondary-color: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
}

div {

    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {

        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {

        opacity: 1;
        transform: rotateX(0);
    }
}

::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    /* border-radius: 10px; */
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
    background-color: var(--primary-color);
}

/*============= NAVIGATION =============*/

.navbar {
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color) !important;
}

.navbar img {
    height: 4rem;
}

.nav-link {
    color: var(--secondary-color) !important;
}

.nav-link.active,
.nav-link:hover {
    color: red !important;
}

/*============= CAROUSEL =============*/

#carouselId {
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.carousel-inner {
    max-height: 100vh !important;
}

/* .carousel-inner img{
    opacity: 50%;
  } */

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    transition: transform 1.2s ease;
}

/*-- Carousel Content --*/

.carousel-caption {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
    text-transform: uppercase;
    transition: 1sec;
}

.carousel-caption h1 {
    font-size: 3rem;
    color: var(--secondary-color);
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}

.carousel-caption h4 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.5);
    width: fit-content;

    padding: 2rem !important;
    border-radius: 1rem;
}

.height {
    min-height: 50%;
}

/***** button *****/

.btn10 {
    padding: 10px 20px 15px 15px;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    z-index: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition-duration: 1s;
}

.fa-arrow-right {
    font-size: 30px;
    /* display: none; */
    color: var(--main-bg-color);
}

.btn10:hover {
    border: 1px solid #071982;
    color: #80ffd3 !important;
}

.btn10::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn10::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: var(--primary-color);
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.btn10:hover::before,
.btn1O:hover::before {
    opacity: 1;
    width: 116%;
}

.btn10:hover::after,
.btn1O:hover::after {
    opacity: 1;
    width: 120%;
}

/***** End button *****/

/***** social links *****/

.fab {
    display: flex;
    column-gap: 25px;
}

.icon {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: .25s;
}


.icon:hover {
    outline-offset: 4px;

}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

/***** End social links *****/

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {


    .carousel-caption h1 {
        font-size: 2.8rem;
    }

    .carousel-caption h4 {
        font-size: 1.8rem;
    }

}

/* Devices under 768px (md) */
@media (max-width: 991.98px) {
    .carousel-caption h1 {
        font-size: 2rem;
    }

    .carousel-caption h4 {
        font-size: 1.2rem;
    }

    .btn-lg {
        font-size: 1rem
    }
}

@media (max-width: 770.98px) {
    .carousel-caption h1 {
        font-size: 1.5rem;
    }

    .carousel-caption h4 {
        font-size: 0.8rem;
    }

    .btn-lg {
        font-size: 0.5rem
    }
}

@media (max-width: 500.98px) {
    .carousel-caption h1 {
        font-size: 1rem;
    }

    .carousel-caption h4 {
        font-size: 0.7rem;
    }

    .btn-lg {
        font-size: 0.5rem
    }

    .carousel-caption {
        position: absolute;
        top: 34%;
        transform: translateY(-50%);
        text-transform: uppercase;
        transition: 1s;
    }
}

@media (max-width: 500.98px) {
    .btn10 {
        padding-top: 8px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
        /* margin: 10px 4px; */
    }



    .fa-arrow-down {
        margin: auto;
        font-size: 15px;
        /* display: none; */
        color: var(--main-bg-color);
    }
}

.services h5 {
    font-weight: 700;
    color: var(--primary-color);
}